<%# locals: (parsed_content:, link_class: 'prose-a:underline') %>
<%# Shared article body (id="cw-article-content"). Same rendering in all 3 layouts;
    each layout controls its own width via the wrapping element.
    link_class is layout-specific: classic/plain default to always-underlined default-color
    links; documentation overrides with the portal-colored, underline-on-hover style. %>
<div id="cw-article-content"
     class="prose dark:prose-invert max-w-none break-words
            prose-headings:font-620
            prose-p:font-420 prose-li:font-420 prose-blockquote:font-420 prose-td:font-420
            <%= link_class %>
            [&_li>p]:m-0
            [&_.tableWrapper]:overflow-x-auto [&_.tableWrapper]:mb-4 [&_.tableWrapper]:rounded-lg [&_.tableWrapper]:border [&_.tableWrapper]:border-solid [&_.tableWrapper]:border-n-weak
            [&_table]:!my-0 [&_table]:!min-w-full [&_table]:!border-separate [&_table]:!border-spacing-0
            [&_th]:!bg-n-slate-2 [&_th]:!text-n-slate-12 [&_th]:!font-semibold [&_th]:!text-start [&_th]:!px-3 [&_th]:!py-2 [&_th]:!border-0 [&_th]:!border-b [&_th]:!border-solid [&_th]:!border-n-weak
            [&_td]:!text-n-slate-11 [&_td]:!align-top [&_td]:!text-start [&_td]:!px-3 [&_td]:!py-2 [&_td]:!border-0 [&_td]:!border-b [&_td]:!border-solid [&_td]:!border-n-weak
            [&_th:not(:last-child)]:!border-e [&_td:not(:last-child)]:!border-e
            [&_tr:last-child_td]:!border-b-0">
  <%= parsed_content %>
</div>
