<% content_for :head do %>
  <%= render 'public/api/v1/portals/articles/meta_head',
             article: @article, portal: @portal, locale: @locale, og_image_url: @og_image_url %>
<% end %>

<div id="portal-bg" class="bg-white dark:bg-slate-900 shadow-inner">
  <div id="portal-bg-gradient" class="pt-8 pb-8 md:pt-14 md:pb-6">
    <div class="max-w-5xl px-4 md:px-8 mx-auto flex flex-col">
      <%= render "public/api/v1/portals/articles/article_header", article: @article %>
    </div>
  </div>
</div>

<%= render "public/api/v1/portals/articles/article_body", parsed_content: @parsed_content %>
