<%= render "public/api/v1/portals/hero", portal: @portal %>
<div class="max-w-5xl w-full flex flex-col flex-grow mx-auto py-8 px-4 md:px-8 gap-6">
  <div><%= render "public/api/v1/portals/featured_articles", articles: @portal.articles, categories: @portal.categories.where(locale: @locale), portal: @portal, recommended: @recommended_articles %></div>
  <%= render "public/api/v1/portals/home_categories", portal: @portal, locale: @locale %>
</div>
